{
  "env": {
    "browser": true,
    "es6": true,
    "vitest-globals/env": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:vitest-globals/recommended",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/prop-types": "warn",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state", "draft"] }
    ],
    "dot-notation": [
      "warn",
      {
        "allowKeywords": true
      }
    ]
  }
}
